@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@200;300&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Lexend, sans-serif;
}
body{
  background: url(/public/images/wallpaper.jpg) no-repeat fixed center;
  background-size:cover ;
  padding: 10px;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}
.container{
  margin-top: 5rem;
  /* min-width: 61rem; */
  display: flex;
  justify-content: center;
  align-items: center;
}
nav{
 position: fixed;
 top: 0;
 left: 0;
 z-index: 999;
 /* background: #000; */
 width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background: rgba( 255, 255, 255, 0.15 );
  backdrop-filter: blur( 3px );
  -webkit-backdrop-filter: blur( 3px );
}
nav> h1{
  margin-right: auto;
  margin-left: 20px;
}
.btn{
  background: #c3cb98;
  padding: 10px;
  min-width:3rem;
  min-height: 3rem;
  border: 1px solid #949b70;
  border-radius: 50%;
  cursor: pointer;
  font-size: 20px;
  margin: 10px 20px;
  color: #787d5c;
}
.ant-spin-container{
  /* background: #000; */
}
.ant-table-wrapper .ant-spin-container .ant-table{
  background: rgba( 255, 255, 255, 0.15 );
box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.059);
backdrop-filter: blur( 3px );
border-radius: 10px;
border: 1px solid rgba( 255, 255, 255, 0.18 );
}

.ant-table-wrapper .ant-table-thead >tr>th{
  background: rgba(255, 255, 255, 0.308);  
}
.ant-table-cell-row-hover{
  background: rgba(255, 255, 255, 0.308) !important;  

}
.ant-table-wrapper .ant-table-tbody{
  cursor: pointer;
}
.ant-pagination .ant-pagination-item-active {
  border-color: #787d5c;
}
.ant-pagination .ant-pagination-item-active:hover {
  border-color: #787d5c;
}
.ant-pagination .ant-pagination-item-active a {
 color: #787d5c;
}
.ant-pagination .ant-pagination-item-active a:hover {
  color: #787d5c;
 }
 .ant-modal-footer{
  display: none;
 }
 .Submit-btn{
  position: absolute;
  bottom: -10px;
  right:0;
 }



